* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #4e73df, #1cc88a);
  color: #333;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

#header {
  font-size: 1.6rem;
  color: #1cc88a;
  margin-bottom: 20px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  text-align: left;
  width: 100%;
}

input[type="password"],
input[type="text"] {
  border: 2px solid #ddd;
  outline: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
  margin-bottom: 15px;
  transition: border 0.3s ease;
}

input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #1cc88a;
}

.strength-bar-container {
  background-color: #e0e0e0;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.strength-bar {
  background-color: #ff4c4c;
  width: 1%;
  height: 100%;
  border-radius: 6px;
  transition: width 0.3s, background-color 0.3s;
}

.show-password {
  margin-top: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;  
}

.show-password label {
  font-size: 0.9rem;
  color: #555;
  padding-top: 10px;
  line-height: 18px; 
}

.show-password input[type="checkbox"] {
  accent-color: #1cc88a;
  width: 18px;
  height: 18px;
}